
@{
    ViewData["Title"] = "Account";
}

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!--Header-->
        <header>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 logo">
                            <img class="logotype" src="~/images/logo.png" />
                        </div>
                        <div class="col-md-9"></div>
                    </div>
                </div>
            </div>
        </header>
        <!--Content-->
        <div class="container content">
            <div class="row">
               
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="footer">
            <div class="row">
               
            </div>
        </div>
    </footer>
    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>