@model Web.Models.Autorization.RegisterModel

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
             <h2>Register</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <div class="form-group" asp-validation-summary="All"></div>
                <div>
                    <div>
                        <label class="control-label" asp-for="Login">Введите Login</label><br />
                        <input class="form-control" type="text" asp-for="Login" />
                    </div>
                    <div>
                        <label class="control-label" asp-for="Password">Введите пароль</label><br />
                        <input class="form-control" asp-for="Password" />
                    </div>
                    <div>
                        <label class="control-label" asp-for="ConfirmPassword">Повторите пароль</label><br />
                        <input class="form-control" asp-for="ConfirmPassword" />
                    </div>

                    <div style="margin-top: 50px;">
                        <input type="submit" value="Reister" class="lets-hire" style="display: inline-block; margin-bottom: 16px;" />
                        <a href="../Home"><div class="get-hired" style="display: inline-block; max-width: 265px; margin-left: 75px;">Back to Home</div></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>