@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper>">
            <header>
                <div class="page-header container">
                    <div class="logo">
                        <img class="logotype" src="~/images/logo.png" />
                    </div>
                </div>
            </header>
            <div class="container page">
                <div class="slogan col-md-12">
                    <h1>Hire and be easier</h1>
                    <p>EasyInterview - service for more efficient search and hiring talents</p>
                </div>
                <div class=" col-md-12">
                    <div class="let's_hire">Let's Hire</div>
                    <div class="get_hired">Get Hired</div>
                </div>
                <div class="demo">
                    <video controls poster="">
                        <source src="~/media/demo.waw" />
                        <source src="~/media/demo.mp4" />
                        <source src="~/media/demo.ogg" />
                        <source src="~/media/demo.webm" />
                    </video>
                </div>
            </div>
        </div>
        <!--Scripts-->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>