@{
    ViewData["Title"] = "Home";
}

<html>
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <!--Header-->
            <header>
                <div class="header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 logo">
                                <img class="logotype" src="~/images/logo.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Content-->
            <div class="container content">
                <div class="row">
                    <div class="slogan col-md-12">
                        <h1>Hire and be hired easier</h1>
                        <p>EasyInterview - service for more efficient search and hiring talents</p>
                    </div>
                </div>
                <div class="row">
                    <div class="buttons col-md-12">
                        <div class="col-md-3 col-md-offset-3">
                            <a href="Problem/Create"><div class="lets-hire">Create Problem</div></a>
                        </div>
                        <div class="col-md-3">
                            <a href="Interview"><div class="get-hired">Interview</div></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="buttons col-md-12" style="margin-top: 50px;">
                        <div class="col-md-3 col-md-offset-3">
                            <a href="Interview/List"><div class="lets-hire">Interviews List</div></a>
                        </div>
                        <div class="col-md-3">
                            <a href="Account/Register"><div class="get-hired">New Account</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>  
            </div>
        </footer>
        <!--Scripts-->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>