/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Custom Refresh*/
.body-content {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*Custom code*/

/*Home*/

/*Wrapper*/
.wrapper {
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 36%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
}

/*Header*/
.header {
    max-height: 70px;
    height: auto;
    max-width: 1920px;
    width: 100%;
    background: rgba(57, 66, 78, 1);
}

/*Logo*/
.logo img {
    height: 100%;
    width: auto;
    padding: 10px 0;
}

/*Slogan*/
.slogan {
    text-align: center;
    margin-top: 150px;
}

    .slogan h1 {
        font-family: 'Consolas', Arial, Helvetica, sans-serif;
    }

    .slogan p {
        margin-top: 20px;
        font-family: 'Consolas Bold', 'Consolas', Arial, Helvetica, sans-serif;
    }

/*Buttons*/
.buttons {
    margin-top: 150px;
}

/*Let's Hire*/
.lets-hire {
    height: 70px;
    max-width: 265px;
    width: 100%;
    background: green;
    text-align: center;
    margin: auto;
    line-height: 70px;
    cursor: pointer;
    font-family: 'Consolas Bold', 'Consolas', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    background: inherit;
    background-color: rgba(27, 169, 76, 1);
    border: none;
    border-radius: 5px;
}

/*Get Hired*/
.get-hired {
    height: 70px;
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 70px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(27, 169, 76, 1);
    border-radius: 5px;
    font-family: 'Consolas Bold', 'Consolas';
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #1BA94C;
}

/*Demo*/
.demo {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
}

    .demo video {
        margin: auto;
    }

/*Footer*/
.footer {
    background: #272727;
}

footer-logo img {
    margin: 0;
}

/*Interview*/

/*Users*/
.users {

}

/*Indicator*/
.indicator {
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: red;
}

/*Name*/
.name {

}

/*Title*/
.title {
    height: 70px;
}

/*Code*/
#code {
    width: 959px !important;
    height: 630px !important;
}

/*Run*/
.run {
    height: 40px;
    max-width: 265px;
    width: 100%;
    background: green;
    text-align: center;
    margin: auto;
    line-height: 40px;
    cursor: pointer;
    font-family: 'Consolas Bold', 'Consolas', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    background: inherit;
    background-color: rgba(27, 169, 76, 1);
    border: none;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: 36px;
}

/*Result*/


/*Connection*/
.connection div {
    position: absolute;
    display: block;
    top: 70px;
    left: 1784px;
}